# Learn more:
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

############################
# Dependencies
############################
node_modules/

############################
# Build / Output
############################
dist/
web-build/
coverage/

############################
# Expo
############################
.expo/
expo-env.d.ts

############################
# Native / Mobile
############################
/ios
/android
.kotlin/

############################
# Certificates / Keys
############################
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

############################
# Metro
############################
.metro-health-check*

############################
# Logs / Debug
############################
npm-debug.*
npm-debug.log*
yarn-debug.*
yarn-debug.log*
yarn-error.*
yarn-error.log*

############################
# Environment Files
############################
.env
.env.local
.env*.local

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Backup / Temp Files
############################
*.orig.*

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Project Specific
############################
app-example