<activity
  android:name=".MainActivity"
  android:exported="true"
  android:launchMode="singleTask"
  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
  android:label="@string/app_name"
  android:windowSoftInputMode="adjustResize">

  <intent-filter>
    <action android:name="android.intent.action.SEND" />
    <category android:name="android.intent.category.DEFAULT" />
    <data android:mimeType="text/plain" />
  </intent-filter>
</activity>